.banner {
    .content{
        display: flex;
        background-color: black;
        color: rgb(238, 238, 22);

        .start{
            width: 50%;
            
        }
        .end{
            width: 50%;
            
        }
    }
}

@media(max-width: 768px){
    .banner {
    .content{
        background-color: black;
        color: rgb(218, 218, 39);
        flex-direction: column;
        .start{
            width: 100%;
        }
        .end{
            width: 100%;

        }
    }
    }
}